* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: cyberpunk;
  src: url(./Cyberpunk.ttf);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url(./bg.jpg) no-repeat center / cover;
}

.wolfpack {
  width: 100%;
  height: auto;
  font-family: cyberpunk;
  color: yellow;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wolfpack h1 {
  max-width: 100%;
  font-size: 200px;

  text-shadow: 30px 30px #000;
  animation: jump 1s forwards alternate infinite linear;
}

@keyframes jump {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 320px) {
  .wolfpack h1{
    font-size: 50px;
  }
 }
 @media only screen and (min-width: 1024px) {
  .wolfpack h1{
    font-size: 200px;
  }
 }
