* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: cyberpunk;
  src: url(./Cyberpunk.ttf);
}

.wrapper {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url(./bg.jpg) no-repeat center / cover;
}

.text {
  width: 100%;
  height: auto;
  font-family: cyberpunk;
  color: yellow;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text h1 {
  max-width: 100%;
  font-size: 200px;

  text-shadow: 30px 30px #000;
  animation: jump 1s forwards alternate infinite linear;
}
.wolfpack{
  margin-top: 150px;
  display: flex;
  width: 50%;
  justify-content: space-between;

}

.wolfpack a{
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid currentColor;
  color: white;
  text-decoration: none;
  font-size: 25px;  
  font-weight: bold;
}

.wolfpack a:hover{
  color: black;
  background-color: white;
}


@keyframes jump {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 320px) {
  .text h1{
    font-size: 50px;
  }
  .wolfpack{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .wolfpack__item{
    margin-bottom: 20px;
  }
 }
 @media only screen and (min-width: 1024px) {
  .text h1{
    font-size: 200px;
  }
 }
